#about-sec1 .avia_textblock {
    transform: translate(-30%, 30%);
}

#about-sec2 {
    transform: translate(0%, -20%);
}

#about-sec3 {
    transform: translate(0%, -30%);
}

#about-sec3 .avia_textblock {
    padding-top: 20%;
    //note: vertically center this!
}

#about-sec3 img {
    transform: translate(-50%, 0);
}