*{
    box-sizing: border-box;
}

// Scale

$unit: 20px;

// Flex

// FLEXBOX

@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

// BOX MODEL

// HTML 100% height

html {
    height: 100%; 
}


