.container_wrap {
    z-index: 1;
    background-color: transparent;
}

#footer {
    @include gradient;
    z-index: -9999;
    position: relative;
    bottom: 0;
    height: 500px;
}

#footer .container {
    font-size: 18px;
    position: fixed;
    bottom: 100px;
    width: 75%;

left: 50%;
margin-left: -37.5%;
}

#footer .container p {
    color: white;
}